<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="widi/filter-specification integration test suite">
            <directory>./test/Integration</directory>
        </testsuite>
        <testsuite name="widi/filter-specification unit test suite">
            <directory>./test/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>